name: Workflow
on:
  push:
    branches:
      - feature/*

jobs:
  SAST:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout del código
          uses: actions/checkout@v4
          with:
            fetch-depth: 0  

        - name: Validando existencia de proyecto en SonarCloud
          id: validateProjectOnSonar
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            PROJECT_NAME: ${{ github.event.repository.name }}
            ORG_KEY: nixett-devsecops-laboratorio
          run: |
            set +e
            echo "Validando si el proyecto '$PROJECT_NAME' existe en la organización '$ORG_KEY'..."
            
            RESPONSE=$(curl -s -u "${SONAR_TOKEN}:" "https://sonarcloud.io/api/projects/search?organization=$ORG_KEY&q=$PROJECT_NAME")
            
            echo "Respuesta de SonarCloud:"
            echo "$RESPONSE"
            
            PROJECT_KEY="${ORG_KEY}_${PROJECT_NAME}"
            echo "Buscando projectKey esperado: $PROJECT_KEY"
            
            EXISTE=$(echo "$RESPONSE" | grep -o "\"key\":\"$PROJECT_KEY\"")
            
            if [ -n "$EXISTE" ]; then
              echo "Proyecto ya existe en SonarCloud"
              echo "proyectoExiste=1" >> $GITHUB_OUTPUT
            else
              echo "Proyecto no encontrado, creando en SonarCloud..."
              CREATE_RESPONSE=$(curl -s -X POST -u "${SONAR_TOKEN}:" 'https://sonarcloud.io/api/projects/create' \
                -d "organization=$ORG_KEY" \
                -d "project=$PROJECT_KEY" \
                -d "name=$PROJECT_NAME" \
                -d "visibility=public")

              echo "Respuesta de creación: $CREATE_RESPONSE"

              if echo "$CREATE_RESPONSE" | grep -q "\"key\":\"$PROJECT_KEY\""; then
                echo "Proyecto '$PROJECT_NAME' creado exitosamente."
                echo "proyectoExiste=0" >> $GITHUB_OUTPUT
              else
                echo "Error al crear el proyecto en SonarCloud. Respuesta completa:"
                echo "$CREATE_RESPONSE"
                exit 0
              fi
            fi


        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'

        - name: SonarCloud Scan
          uses: sonarsource/sonarcloud-github-action@v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          with:
            args: >
              -Dsonar.organization=nixett-devsecops-laboratorio
              -Dsonar.projectKey=nixett-devsecops-laboratorio_devsecops-laboratorio
              -Dsonar.sources=src,functions
              -Dsonar.tests=src,functions
              -Dsonar.exclusions=src/**/*.test.tsx,src/**/*.test.ts,functions/**/*.test.ts
              -Dsonar.typescript.tsconfigPath=tsconfig.json
              -Dsonar.host.url=https://sonarcloud.io
              -X