name: Workflow
on:
  push:
    branches:
      - feature/*

jobs:
  SAST:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout del código
          uses: actions/checkout@v4
          with:
            fetch-depth: 0  

        - name: Validando existencia de proyecto en SonarCloud
          id: validateProjectOnSonar
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          run: |
            CURL_OUTPUT=$(curl -s -X POST -u "${SONAR_TOKEN}:" 'https://sonarcloud.io/api/projects/create' \
              -d 'name=${{ github.event.repository.name }}' \
              -d 'project=${{ github.event.repository.name }}' \
              -d 'organization=nixett-devsecops-laboratorio' \
              -d 'visibility=public')
            
            if [[ "$CURL_OUTPUT" == *"already exists"* ]]; then
              echo "Proyecto ya existe en Sonarcloud"
              echo "proyectoExiste=1" >> $GITHUB_OUTPUT
            
            elif [ -z "$CURL_OUTPUT" ]; then
              echo "Proyecto ${{ github.event.repository.name }} creado exitosamente en Sonarcloud"
              echo "Se establece rama main como rama por defecto"
              curl -X POST -u "${SONAR_TOKEN}:" 'https://sonarcloud.io/api/project_branches/rename' \
                -d 'name=main' \
                -d 'project=${{ github.event.repository.name }}'

            else
              echo "ERROR: Error al crear el proyecto en SonarCloud. Respuesta de la API:"
              echo "$CURL_OUTPUT"
              echo "Por favor, verifica que tu SONAR_TOKEN tenga permisos de 'Create Projects' en la organización."
              exit 1 # Fallamos el build intencionalmente
            fi


        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'

        - name: SonarCloud Scan
          uses: sonarsource/sonarcloud-github-action@v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          with:
            args: >
              -Dsonar.organization=nixett-devsecops-laboratorio
              -Dsonar.projectKey=${{ github.event.repository.name }}
              -Dsonar.sources=src,functions
              -Dsonar.tests=src,functions
              -Dsonar.exclusions=src/**/*.test.tsx,src/**/*.test.ts,functions/**/*.test.ts
              -Dsonar.typescript.tsconfigPath=tsconfig.json
              -Dsonar.host.url=https://sonarcloud.io
              -X